<div class="auth-form">
  <h2>Login</h2>
  
  <p>Please note: This site uses HTTP Basic Authentication. Your browser will prompt you to enter your credentials after you click the button below.</p>
  
  <div class="form-action">
    <button class="btn" onclick="window.location.href='/'">Continue to Login</button>
    <p>Don't have an account? <a href="/register">Register here</a></p>
  </div>
</div>
